# Ignore these files:
cov.out
cov.sort
cover.out
covs.out
SLIPLU
cov_test
cov_test.c
demos.c
slip_array_div.c
slip_array_mul.c
slip_back_sub.c
SLIP_build_dense_double.c
SLIP_build_dense_int.c
SLIP_build_dense_mpfr.c
SLIP_build_dense_mpq.c
SLIP_build_dense_mpz.c
SLIP_build_sparse_ccf_double.c
SLIP_build_sparse_ccf_int.c
SLIP_build_sparse_ccf_mpfr.c
SLIP_build_sparse_ccf_mpq.c
SLIP_build_sparse_ccf_mpz.c
SLIP_build_sparse_trip_double.c
SLIP_build_sparse_trip_int.c
SLIP_build_sparse_trip_mpfr.c
SLIP_build_sparse_trip_mpq.c
SLIP_build_sparse_trip_mpz.c
SLIP_check_solution.c
SLIP_create_default_options.c
SLIP_create_dense.c
SLIP_create_double_mat.c
SLIP_create_int_mat.c
SLIP_create_LU_analysis.c
SLIP_create_mpfr_array.c
SLIP_create_mpfr_mat.c
SLIP_create_mpq_array.c
SLIP_create_mpq_mat.c
slip_create_mpz_array2.c
SLIP_create_mpz_array.c
SLIP_create_mpz_mat.c
SLIP_create_sparse.c
slip_cumsum.c
SLIP_delete_dense.c
SLIP_delete_double_mat.c
SLIP_delete_int_mat.c
SLIP_delete_LU_analysis.c
SLIP_delete_mpfr_array.c
SLIP_delete_mpfr_mat.c
SLIP_delete_mpq_array.c
SLIP_delete_mpq_mat.c
SLIP_delete_mpz_array.c
SLIP_delete_mpz_mat.c
SLIP_delete_sparse.c
slip_dense_alloc.c
slip_dfs.c
slip_expand_double_array.c
slip_expand_double_mat.c
slip_expand_mpfr_array.c
slip_expand_mpfr_mat.c
slip_expand_mpq_array.c
slip_expand_mpq_mat.c
SLIP_finalize.c
slip_forward_sub.c
slip_get_column.c
SLIP_get_double_soln.c
slip_get_largest_pivot.c
SLIP_get_mpfr_soln.c
slip_get_nonzero_pivot.c
slip_get_pivot.c
slip_get_smallest_pivot.c
SLIP_gmp.c
SLIP_initialize.c
SLIP_initialize_expert.c
SLIP_LU_analyze.c
SLIPLU.c
SLIP_LU_factorize.c
slip_lu_info.c
SLIP_LU_solve.c
slip_mpz_populate_mat.c
SLIP_permute_x.c
SLIP_print_stats.c
slip_reach.c
SLIP_read_dense.c
slip_REF_triangular_solve.c
slip_reset_int_array2.c
slip_reset_int_array.c
slip_reset_mpz_array.c
SLIP_scale_x.c
SLIP_solve_double.c
SLIP_solve_mpfr.c
SLIP_solve_mpq.c
slip_sort_xi.c
slip_sparse_alloc2.c
slip_sparse_alloc.c
slip_sparse_collapse.c
slip_sparse_realloc.c
SLIP_spok.c
slip_trip_to_mat.c
